@use "variables" as v;

.#{v.$md-dt-namespace}__wrapper {
  display: inline-block;
  min-width: 100%;
  padding-top: #{v.$md-dt-wrapper-padding};
  padding-bottom: #{v.$md-dt-wrapper-padding};
  vertical-align: middle;
  background-color: blue;
}

.#{v.$md-dt-namespace}__srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


